<!--
  Generated template for the LabReportDatesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
      <ion-title>Laboratory Reports</ion-title>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  </ion-header>
<!-- 
  <ion-content padding>
      <ion-list class="accordion-list">
          <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
             {{ item.ReportDate }}
          </ion-list-header>
      </ion-list>
  </ion-content> -->
<!-- 
  <ion-content padding>
      <ion-list class="accordion-list">
       <!-- First Level -->
       <!-- <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
      
         <button ion-item  detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
           <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
           <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
             {{ item.ReportDate }}
         </button>
    
        </ion-list-header>
     </ion-list> -->
   
   <!-- </ion-content> --> -->


   <ion-content>
      <ion-list class="accordion-list">

        
          <ion-list-header  *ngFor="let p of information; let i = index"  no-padding>

            <button detail-none (click)="sectionToggle(i)" class="section-active">
                <ion-icon item-left name="arrow-forward" *ngIf="!p.open"></ion-icon>
                <ion-icon item-left name="arrow-down" *ngIf="p.open"></ion-icon>
          {{p.ReportDate}}
        </button>
          <ion-list  *ngIf="p.ReportDate && p.open" no-lines>
            <ion-item *ngFor="let s of p.List;let j = index" text-wrap >
              <ion-card>

                <ion-card-content (click)="getLabNumber(s.LabNo,p.ReportDate)">
                  {{s.LabNo}}
                  </ion-card-content>
                  </ion-card>

            </ion-item>
          </ion-list>
          </ion-list-header>
      </ion-list>
    </ion-content>
