// .ion-title {
//     position: absolute;
//     top: 0;
//     background:#4169E1;
//     left: 0;
//     padding: 0 90px 1px;
//     width: 100%;
//     height: 100%;
//     text-align: center;
//   }


  .image-container {
    display: flex;
    height: 80%;
    justify-content: center;
    border: 1px;
  }


  .image-view {
    height: 25%;
    padding: 10px;
    justify-content: center;
    border: 1px;
  }
  
  .text_class
  {
    color: rgb(0, 0, 0);
    width: 100%;
    font-weight: bold;
    height: 40%;
    font-size: 18px;
    padding-bottom: 30px;
    text-align: center;
  }

  .toolbar-title-md
  {
    padding: 0 12px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
  }
  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff;
    background-color: transparent;
}

.toolbar-title-ios {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  pointer-events: auto;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
  color: #fff;
  background-color: transparent;
}

// .imageBack {
//   height: 25%;
//   background-color:map-get($map: $colors, $key: dark );
//   padding-left: 10%;
//   background-size: cover;
// }
