// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-title {
    position: absolute;
    top: 0;
    background:color($colors,dark);
    left: 0;
    color: color($colors,white-color);
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .imageBack{
    height: 25%;
    width: 100%;
    background:color($colors,dark);
    padding-left:4%;
    color: color($colors,white-color);
    background-size: cover;
  }

  .label-md {
    margin: 5px 5px 5px 0;
  }

  .toolbar-title-md {
    padding: 0 12px;
    font-size: 1.6rem;
    font-weight: 500;
    color: color($colors,white-color);
  }
  .label-ios {
    margin: 5px 5px 5px 0;
    color:color($colors,grey-color);
}

.accordion-list {
  background: #fff;
  height: 100%;
}
.section {
  background: #fff;
  color: #000;
  margin-bottom: 4px;
}
.section-active {
  background:color($colors, dark); ;
  color: #fff;
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  height: 30%;
}

.item-md p {
    margin: 0 0 2px;
    overflow: inherit;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    font-weight: bold;
    color:color($colors,white-color);
}

.item-ios p {
  font-size: 1.4rem;
  line-height: normal;
  text-overflow: inherit;
  color:color($colors,white-color);
  overflow: inherit;
  margin: 0px 0px 2px;
}