<ion-header>
  <ion-navbar>
      <ion-title>Laboratory Reports</ion-title>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  </ion-header>

  <ion-content>
    <ion-list class="accordion-list">
        <ion-list-header  *ngFor="let p of testResult; let i = index"  no-padding>
          <button detail-none (click)="sectionToggle(i)" class="section-active">
              <ion-icon item-left name="arrow-forward" *ngIf="!p.open"></ion-icon>
              <ion-icon item-left name="arrow-down" *ngIf="p.open"></ion-icon>
        {{p.TestName}}
        <ion-icon name="star" item-right></ion-icon>
        <!-- <ion-img src="assets/imgs/line_chart.png"></ion-img> -->
      </button>
     
        <ion-list  *ngIf="p.TestName && p.open" no-lines>
          <ion-item *ngFor="let s of p.List;let j = index" text-wrap >
            <ion-card>

              <ion-card-content  (click)="callReportDetails(s.LabNo)">
                {{s.TestDate}}
                </ion-card-content>
                </ion-card>

          </ion-item>
        </ion-list>
        </ion-list-header>
    </ion-list>
  </ion-content>

